In [1]:
import pandas as pd

In [2]:
#This problem seeks to assign tasks(rows) to workers(columns) based on some cost represented in the data frame
#The problem assumes that each worker should be assigned one task, and each task should be assigned one worker

In [3]:
costmatrix=pd.read_excel('AssignmentProblem10by10.xlsx')

In [4]:
costmatrix

     A   B   C   D   E   F   G   H   I   J
1   53  82  50  97  44  58  54  19  88  59
2   30  16  45  27  56  28  23  11  10  89
3   30  16  45  27  56  28  23  11  10  89
4   64  35  39  48  43  94  48  96  40  94
5   36  74  11  88   3  75  85  84  23  22
6   35  71  59  71  63  79  87  10  58  89
7   87  71  59  86   7  86  15  95  48  18
8   42   4  62  84  40  48  84  84  75  60
9   24  95  68  41  46  68  97  33  43  97
10  49  69  41  69  33  45  87  36  93  96

In [5]:
def greedy(df):
    """
    Takes a cost matrix as a data frame
    Greedily assigns the cheapest available row to each column from left to right.
    Assumes that each row can be assigned to one column and vice versa
    Returns a list of the assignments in the same order as the columns of the data frame
    """
    soln=[]
    for i in df.columns:
        soln.append(df.drop(soln)[i][df[i]==min(df.drop(soln)[i])].index.tolist()[0])
    return soln

In [6]:
#On second thought, maybe a dictionary is more appropriate
def greedyDict(df):
    """
    Takes a cost matrix and greedily assigns the cheapest available row to each column from left to right.
    Assumes that each row can be assigned to one column and vice versa
    Returns a dictionary with each column and the row that was assigned to it
    """
    soln={}
    for i in df.columns:
        soln.update({i:df.drop(list(soln.values()))[i][df[i]==min(df.drop(list(soln.values()))[i])].index.tolist()[0]})
    return soln

In [7]:
#Now returning objective function value as well
def greedyDict2(df):
    """
    Takes a cost matrix and greedily assigns the cheapest available row to each column from left to right.
    Assumes that each row can be assigned to one column and vice versa
    Returns a dictionary with each column and the row that was assigned to it, as well as the total assignment cost
    """
    soln={}
    objfun=0
    for i in df.columns:
        soln.update({i:df.drop(list(soln.values()))[i][df[i]==min(df.drop(list(soln.values()))[i])].index.tolist()[0]})
        objfun+=df[i].loc[soln[i]]
    return soln,objfun

In [8]:
greedyDict2(costmatrix)

({'A': 9,
  'B': 8,
  'C': 5,
  'D': 2,
  'E': 7,
  'F': 3,
  'G': 4,
  'H': 6,
  'I': 1,
  'J': 10},
 343)